<div class="dropdown ez-timepicker-container">
  <div class="dropdown-toggle" ng-class="inputContainerClass">
    <div class="time-input" ng-transclude></div>
    <span class="input-group-btn">
      <a class="btn btn-default btn-sm">
        <i ng-class="clockIconClass"></i>
      </a>
    </span>
  </div>
  <div class="dropdown-menu" ng-click="preventDefault($event)">
    <div class="hours-col" ng-class="widgetColClass">
      <div><a class="btn" ng-click="incrementHours()"><i ng-class="incIconClass"></i></a></div>
      <div class="hours-val">{{ widget.hours }}</div>
      <div><a class="btn" ng-click="decrementHours()"><i ng-class="decIconClass"></i></a></div>
    </div>
    <div class="minutes-col" ng-class="widgetColClass">
      <div><a class="btn" ng-click="incrementMinutes()"><i ng-class="incIconClass"></i></a></div>
      <div class="minutes-val">{{ widget.minutes }}</div>
      <div><a class="btn" ng-click="decrementMinutes()"><i ng-class="decIconClass"></i></a></div>
    </div>
    <div class="meridian-col" ng-class="widgetColClass" ng-show="showMeridian">
      <div><a class="btn" ng-click="toggleMeridian()"><i ng-class="incIconClass"></i></a></div>
      <div class="meridian-val" ng-click="toggleMeridian()">{{ widget.meridian }}</div>
      <div><a class="btn" ng-click="toggleMeridian()"><i ng-class="decIconClass"></i></a></div>
    </div>
  </div>
</div>
